


.navBar {
  background-color: rgba(255, 255, 255, 0.85);
  
}
.navButtons {
  text-align: center;
}
.titleNav {
  float: left;
  margin-top: 18px;
  
}

li .titleName {
  float: left;
}
li:hover {
  text-decoration: underline;
}

li {
  margin-left: 20px;
  margin-right: 20px;
  display: inline;
  font-size: 1.5rem;
}
/*End of Nav Bar*/

/*Main Content*/
/* .container {
  display: grid;
  justify-content: center;
} */
.card{
  width: 600px;
}
img{
  max-width: 400px;
}
figure {
  border: 1.5px solid lightgray;
  float: left;
  
}
/* .figure-caption{
  color: black;
}
span{
  font-size: 1.25rem;
  font-weight: bold;
} */

/*End of Main Content*/

/*Footer*/
.footer {
  text-align: center;
}
a {
  color: inherit;
}
i {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -30px;
  text-align: center;
}
/*End of Footer*/

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
