body{
  background-color: #e8e8e8;
}
.title{
  font-family: 'Montserrat', sans-serif;
}
nav{
  border-bottom: 3px solid lightsteelblue;
}
a.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
}
/*End of Nav Bar*/

/*Main Content*/
img{
  border-bottom: 3px solid black;
}
figure {
  margin-top: 30px;
  height: auto;
  min-height: 100vh;
  border: 5px solid coral;
 
  background-color: white;
}
 .figure-caption{
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
  color: black;
}
span{
  font-size: 1.25rem;
  font-weight: bold;
}
.icon{
  position: absolute;
  margin-left: 19%;
  bottom: 20px;
}
.icons{
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
}
/*End of Main Content*/

/*Footer*/
.footer {
  clear: both;
  text-align: center;
}
a {
  color: inherit;
}
i {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -30px;
  text-align: center;
}
/*End of Footer*/
@media only screen and (min-width: 100px) and (max-width: 299px){
  .row{
    display: inline;
  }
figure{
  height: 1100px;
}    a.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

}
@media only screen and (min-width: 300px) and (max-width: 344px){
  .row{
    display: inline;
  }
a.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}
a.navbar-brand{
  font-size: 1.5rem;
}
.figure-caption{
  font-size: 1.5rem;
}
}
@media only screen and (min-width: 345px) and (max-width: 770px){
  .row{
    display: inline;
  }

  .icon{
    position: absolute;
    margin-left: 0%;
    bottom: 20px;
  }
  .icons{
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
  }
  a.nav-items {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }
  a.navbar-brand{
    font-size: 1.5rem;
  }
  .figure-caption{
    font-size: 1.5rem;
  }

}
@media only screen and (min-width: 771px) and (max-width:993px){
figure{
  height:700px;
}
.icon{
  position: absolute;
  margin-left: 0%;
  bottom: 20px;
}
.icons{
  position: absolute;
  margin: 0 auto;
  bottom: 20px;
}
}
@media only screen and (min-width: 993px) and (max-width:1199px){
  figure{
    height:700px;
  }
  .icon{
    position: absolute;
    margin-left: 13%;
    bottom: 20px;
  }
  .icons{
    position: absolute;
    margin-left: 65px;
    bottom: 20px;
  }
  }
