body{
  background-color: #e8e8e8;
}
.title{
  font-family: 'Montserrat', sans-serif;
}
nav{
  border-bottom: 3px solid lightsteelblue;
}
a.nav-items {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
}
/*End of Nav Bar*/

/*Main Content*/
img{
  border-bottom: 3px solid black;
}
.card {
  margin-top: 30px;
  border: 5px solid coral;
}

span{
  font-size: 1.25rem;
  font-weight: bold;
}
/*End of Main Content*/

/*Footer*/
.footer {
  clear: both;
  text-align: center;
}
a {
  color: inherit;
}
i {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: -30px;
  text-align: center;
}
/*End of Footer*/

@media only screen and (min-width: 345px) and (max-width: 770px){
  .row{
    display: inline;
  }

  .icon{
    position: absolute;
    margin-left: 0%;
    bottom: 20px;
  }
  .icons{
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
  }
  a.nav-items {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
  }
  a.navbar-brand{
    font-size: 1.5rem;
  }
  .figure-caption{
    font-size: 1.5rem;
  }

}
