li {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    font-size: 1.5rem;
  }
/*End of Nav Bar*/

/*Main Content*/

#carouselExampleIndicators{
    margin: 6% auto;
    grid-area: slideShow;
}
.slideShowImage{
   width:100%;
   height: auto;
   max-width: 100%;
}
/*End of Main Content*/

/*Footer*/
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    opacity: 0.80;
    grid-area: footer;
  }
a{
    color:inherit;
}
  i{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: -30px;
    text-align: center;
}
/*End of Footer*/
